:root{
    --primary-color: hsl(34, 61%, 77%);
    --secondary-color: hsl(202, 62%, 70%);
    --secondary-color-light: hsl(202, 32%, 80%);
    --font-color: black;
    --text-decoration: none;
    --background-color: hsl(34, 8%, 96%);
}

.navbar_color{

    background-color: var(--primary-color);
    box-shadow: rgb(18, 19, 19) 0px 0px 8px;

}

.myTitreDiv{

    padding: 0% 25% 0% 25%;
    margin-top: 2em;

}

.myTitre{

    color: var(--background-color);
    text-decoration: none;
    text-shadow: var(--primary-color) 0px 0px 2px;
    background-color: var(--font-color);
    padding: 5px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0px;
    box-shadow: var(--primary-color) 0px 0px 2px;
    width: 100%;
    border-radius: 5px;


}

body{

    background-color: var(--background-color);

}

.font_color{

    color: var(--font-color);

}

.text_deco{

    text-decoration: none;


}

.button_color{

    background-color: var(--secondary-color);


}

.margin_nav{

    margin-top: 30px;

}

.mylogo{

    width: 50px;
    margin: -4px;
    padding: -4px;

}

.all_center{

    justify-content: center;
    align-items: center;
    text-align: center;

}






/*-------------------------------------------------------------------------------CORPS-------------------------------------------------------------------------------------*/
.content_body{
	background-attachment: fixed;
	background-position: center;
	
	background: #f6f5f4;
	background-size: 100% 500%;
	background-repeat: no-repeat;

}

.content_box{
	position:static;
	
	margin-top:6%;
}

	.connexion_box {
		position:absolute;
		
		
		background-color: #e8c9a1;
		border-radius:15px;
		padding-top:25px;
		padding-bottom:25px;
	}


	.co{
		background: #F8F8F8;
		border: 2px solid #C5C5C5;
		border-radius: 15px;
		
		margin-bottom:30px;
	}
	
		.var {
			position:static;
			
			width: 100%;
			height: 50px;
			left: 68.5px;
			top: 192px;
			padding-top:10px;
			
			background: #F8F8F8;
			border: 3px solid #C5C5C5;
			border-bottom: 1px solid #C5C5C5;
			border-radius: 10px 10px 0px 0px;
			
			font-size:25px;
			text-align:center;
		}

		.inp {
			position:static;
			
			width: 100%;
			height: 50px;
			margin-top:-8px;
			margin-bottom:30px;

			background: #F8F8F8;
			border: 3px solid #C5C5C5;
			border-top: 1px solid #C5C5C5;
			border-radius: 0px 0px 10px 10px;
			
			font-size:20px;
			text-align:center;
		}

	.bouton_co{
		background: #F8F8F8;
		border: 2px solid #C5C5C5;
		border-radius: 15px;
		width:100%;
		height:50px;
		font-size:30px;
	}