:root{
    --primary-color: hsl(34, 61%, 77%);
    --secondary-color: hsl(202, 62%, 70%);
    --secondary-color-light: hsl(202, 32%, 80%);
    --font-color: black;
    --text-decoration: none;
    --background-color: hsl(34, 8%, 96%);
}

.navbar_color{

    background-color: var(--primary-color);
    box-shadow: rgb(18, 19, 19) 0px 0px 8px;

}

.myTitreDiv{

    padding: 0% 25% 0% 25%;
    margin-top: 2em;

}

.myTitre{

    color: var(--background-color);
    text-decoration: none;
    text-shadow: var(--primary-color) 0px 0px 2px;
    background-color: var(--font-color);
    padding: 5px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0px;
    box-shadow: var(--primary-color) 0px 0px 2px;
    width: 100%;
    border-radius: 5px;


}

body{

    background-color: var(--background-color);

}

.font_color{

    color: var(--font-color);

}

.text_deco{

    text-decoration: none;


}

.button_color{

    background-color: /*var(--secondary-color);*/hsl(208, 62%, 45%);


}

.button_color:hover{

    background-color: /*var(--secondary-color-light);*/hsl(208, 64%, 48%);


}

.margin_nav{

    margin-top: 30px;

}

.mylogo{

    width: 50px;
    margin: -4px;
    padding: -4px;

}

.all_center{

    justify-content: center;
    align-items: center;
    text-align: center;

}

.button-nav{
	background-color:white;
	border:2px solid #C5C5C5;
	border-radius:10px;
	text-decoration: none;
}
.button-nav:hover{
	background-color:#EFEFEF;
}

#myTable, #myTable_2, #myTable_3{

    width: 100%;

    padding: 8px;
    border-collapse: collapse;
    color: var(--font-color);
    font-size: 1.02rem;
    border-color: rgba(0, 0, 0, 0.12);

    background-color: var(--secondary-color);

}


#myTable td,#myTable_2 td, #myTable_3 td{

    text-align: center;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: var(--font-color);

}

#myTable th,#myTable_2 th, #myTable_3 th{

    text-align: center;
    padding: 8px;

}




#myTable tr:nth-child(even), #myTable_2 tr:nth-child(even), #myTable_3 tr:nth-child(even){

    background-color: var(--background-color);

}

#myTable tr:nth-child(odd), #myTable_2 tr:nth-child(odd), #myTable_3 tr:nth-child(odd){

    background-color: hsl(34, 8%, 90%)

}

#myTable tr:hover, #myTable_2 tr:hover, #myTable_3 tr:hover{

    background-color: var(--secondary-color-light);

}

#myTable_filter, #myTable_paginate, #myTable_info, #myTable_length, #myTable_2_filter, #myTable_2_paginate, #myTable_2_info, #myTable_2_length, #myTable_3_filter, #myTable_3_paginate, #myTable_3_info, #myTable_3_length{

    margin: 8px;

}


.my_mid_lnk{
    text-decoration: underline;
}

.nav--item-elt-mid{
    margin: 0px 10px 0px 10px;
    /*flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;*/
}