.navbar_color{

    background-color: hsl(38, 70%, 93%);

}

.font_color{

    color: black;

}

.text_deco{

    text-decoration: none;


}

.button_color{

    background-color: hsl(208, 62%, 45%);


}

.margin_nav{

    margin-top: 30px;

}